@model TesteProverDominio.Entidades.Cargo

@{
    ViewBag.Title = "Descrição de Cargo";
}
@using (Html.BeginForm("Create", "Cargo"))
{
    <div class="editor-label">
        @Html.LabelFor(model => model.Descricao, "Descrição de Cargo")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Descricao)
        @Html.ValidationMessageFor(model => model.Descricao)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Ativo, "Ativo")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Ativo)
        @Html.ValidationMessageFor(model => model.Ativo )
    </div>

    <input id="btnSalvar" type="submit" value="Salvar" class="btn btn-default" />

}

