@model TesteProverDominio.Entidades.Login


@{ ViewBag.Title = "Login"; }


<div class="editor-label">
    @Html.LabelFor(model => model.Email, "E-mail")
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Password)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
</div>

<button>Entrar</button>
<button>Recuperar Senha</button>